<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="IceNoteFrame">
		<size>935,460</size>
		<object class="wxMenuBar" variable="menuBar" member="no">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="idMenuCreateNote" variable="MenuItem3" member="yes">
					<label>Create a note</label>
				</object>
				<object class="wxMenuItem" name="idMenuCreateNotebook" variable="MenuItem4" member="yes">
					<label>Create a notebook</label>
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="idMenuExport" variable="MenuItem5" member="yes">
					<label>Export...</label>
				</object>
				<object class="wxMenuItem" name="idMenuImport" variable="MenuItem6" member="yes">
					<label>Import...</label>
				</object>
				<object class="wxMenuItem" name="idMenuQuit" variable="MenuItem1" member="no">
					<label>Quit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu3" member="yes">
				<label>&amp;Edit</label>
				<object class="wxMenuItem" name="idMenuUndo" variable="MenuItem7" member="yes">
					<label>Undo</label>
					<accel>Ctrl+Z</accel>
				</object>
				<object class="wxMenuItem" name="idMenuRedo" variable="MenuItem8" member="yes">
					<label>Redo</label>
					<accel>Ctrl+Y</accel>
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="idMenuCut" variable="MenuItem9" member="yes">
					<label>Cut</label>
					<accel>Ctrl+X</accel>
				</object>
				<object class="wxMenuItem" name="idMenuCopy" variable="MenuItem10" member="yes">
					<label>Copy</label>
					<accel>Ctrl+C</accel>
				</object>
				<object class="wxMenuItem" name="idMenuPaste" variable="MenuItem11" member="yes">
					<label>Paste</label>
					<accel>Ctrl+V</accel>
				</object>
				<object class="wxMenuItem" name="idMenuSelectAll" variable="MenuItem12" member="yes">
					<label>Select &amp;All</label>
					<accel>Ctrl+A</accel>
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="idMenuWordCount" variable="MenuItem13" member="yes">
					<label>Word Count...</label>
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="idMenuAddPicture" variable="MenuItem14" member="yes">
					<label>Add a picture...</label>
				</object>
				<object class="wxMenuItem" name="idMenuImportText" variable="MenuItem15" member="yes">
					<label>Import text...</label>
				</object>
			</object>
			<object class="wxMenu" variable="Menu4" member="yes">
				<label>&amp;Format</label>
				<object class="wxMenuItem" name="idMenuStyle" variable="MenuItem16" member="yes">
					<label>&amp;Style...</label>
				</object>
				<object class="wxMenu" name="ID_MENUITEM1" variable="MenuItem17" member="yes">
					<label>&amp;Paragraph</label>
					<object class="wxMenuItem" name="idMenuAlignLeft" variable="MenuItem18" member="yes">
						<label>Left</label>
					</object>
					<object class="wxMenuItem" name="idMenuAlignCenter" variable="MenuItem19" member="yes">
						<label>Center</label>
					</object>
					<object class="wxMenuItem" name="idMenuAlignRight" variable="MenuItem20" member="yes">
						<label>Right</label>
					</object>
					<object class="separator" />
					<object class="wxMenuItem" name="idMenuIncIndent" variable="MenuItem21" member="yes">
						<label>Increse Indent</label>
					</object>
					<object class="wxMenuItem" name="idMenuDecIndent" variable="MenuItem22" member="yes">
						<label>Decrease Indent</label>
					</object>
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>Help</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="statusBar" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
		<object class="wxToolBar" name="ID_TOOLBAR1" variable="toolBar" member="yes" />
	</object>
</wxsmith>
